<section class="navigation">
    <nav>
        <h1>Not MySpace</h1>
        <ul>
            <li>Homepage</li>
            <li>Dashboard</li>
            <li>Login</li>
            <li>Logout</li>
        </ul>
    </nav>
</section>