<section class="homepage">

    <div class="login">
        <h2>Welcome! Please sign in to continue.</h2>
        <div class="user">
        </div>
        <div class="password">
        </div>
        <h3>Sign up</h3>
    </div>

</section>